<!-- _______ Long way __________-->
<!-- <app-header></app-header>
<app-user></app-user> -->

<!-- _______ Short way __________-->
<app-header/>


<main>
  <ul id="users">
    <li>
      <app-user [Id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select) = "onSelectUser($event)"/>
    </li>
    <li>
      <app-user [Id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select) = "onSelectUser($event)"/>
    </li>
    <li>
      <app-user [Id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select) = "onSelectUser($event)"/>
    </li>
    <li>
      <app-user [Id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select) = "onSelectUser($event)" />
    </li>

    <!--=================== Error becuase i set the Requried = true =======================-->
    <!-- <li>
      <app-user [avator]="users[2].avatar" />
    </li>
    <li>
      <app-user [name]="users[3].name"/>
    </li> -->
  </ul>

  <app-task [NameOfUser]="onSelectUserObj.name"/>
</main>


<h1>
  Adding New  User component to the ui
</h1>

<ol>
  <li>long : ng generate component user</li>
  <li>short : ng g c user</li>
</ol>




