<app-header></app-header>
<h1>
  Understanding the Flow of Anguler
</h1>

<ol>
  <li>in index.html file there is no code which we see in Webpage.</li>
  <li>in index.html there is only Component name : app-root ,</li>
  <li>that ware anguler comes in action</li>
  <li>this app.ts is file that will be executed when webpage loaded during this this ts file convert the all compojent code to html at run time</li>
  <li>there is no any impoprt component in  index.html file but if we visited the load webpage it hase so manay html code </li>
  <li>in inspect there are script importes  </li>
  <li>which automatically  injected by  anguler CLI during complilation  </li>
  <li>main.ts ==> it runs the or Execute function which is provided by  Anguler Frameworks  </li>
  <li>main.ts ==> bootstrapApplicaiton NG function  which need the Component  </li>
  <li>and at the end check the  component name in Index.html file and replace all the actual code with  app-root component hahahahaha </li>
</ol>

<ol>
  <li>app > folder is for appComponents</li>
  <li>appComponents is 1st compoent which default comes with angular</li>
  <li>in app.componet.ts is main file which manger this single componete </li>
  <li>it can be  any   xyz.componet.ts main file for each component </li>
  <li>atttheRat_xyz  is decorator sysmbox which comes from Anguler framework</li>
</ol>


