<div>
    <!-- ======= Event Binding ========= -->
    <button (click)="ChangeUser()">
        <!-- =================================== -->
        <!-- Decorator paramters Base -->
        <!-- =================================== -->
        <img [src]="ImagePath" [alt]="name" width="100">
        <span>{{name}}</span>

        <!-- =================================== -->
        <!-- signal paramters Base -->
        <!-- =================================== -->
         <!-- <img [src]="imagePath()" [alt]="name()" width="100">
        <span>{{name()}}</span> -->
    </button>

</div>